<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694730752148-8lg5fjfd8rf9bgpu8ie6sf0tnktime2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694730752148-8lg5fjfd8rf9bgpu8ie6sf0tnktime2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAuc-D-vd_P3rS8TKECSYmFFDi8RHamYeg</string>
	<key>GCM_SENDER_ID</key>
	<string>694730752148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-app-31b60</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-31b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694730752148:ios:7c67a98fd950b6840df481</string>
</dict>
</plist>